.userProfile {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    max-width: 250px;
}

.userAvatar {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    border-radius: 50%;
    /* Circular avatar */
    margin-right: 10px;
}

.userInfo {
    flex-grow: 1;
}

.userName {
    font-size: 14px;
    margin: 0;
}

.userTitle {
    font-size: 10px;
    color: #666;
    margin: 0;
}